extends layout

block content
 .stream
   .greeting
    h1 Hi, i'm #{name}
    p #{position}
   .clouds.cloud-1
    img(src="/images/cloud-1.png")
   .clouds.cloud-2
    img(src="/images/cloud-2.png")
   .clouds.cloud-3
    img(src="/images/cloud-3.png")
   .clouds.cloud-4
    img(src="/images/cloud-3.png")
   .clouds.cloud-5
    img(src="/images/cloud-2.png")
   .clouds.cloud-6
    img(src="/images/cloud-1.png")