<section class="works-container">
    <button ng-click="previousWork()" class="previous-work-btn">
      <i class="material-icons" style="font-size:52px">chevron_left</i>
    </button>

	<div ng-repeat="work in portfolio.works" class="work-item" ng-style="{'left':renderPosition($index),'width':workItemWidth()}">
      <div class="background" ng-style="{'background':work.background}">
		<span class="work-name">{{work.name}} <br/> </span>
		<span class="work-description">{{work.description}}</span>  
		<a href="{{work.githubLink}}" style="margin-top:2em;" target="_blank" class="work-link">github code</a>
		<a href="{{work.liveLink}}" target="_blank" class="work-link">live demo</a>
      </div>
	</div>
	
	<button ng-click="nextWork()" class="next-work-btn">
	  <i class="material-icons" style="font-size:52px">chevron_right</i>
	</button>
</section>