
 <div class="stream">
 	<div class="greeting" >
 		<h1 id="one" ng-click="getColor()">Hi, I'm {{portfolio.name}}</h1>
 		<p>{{portfolio.position}}</p>
 	</div>
 	<div class="clouds cloud-1">
 		<img src="/images/cloud-1.png">
 	</div>
 	<div class="clouds cloud-2">
 		<img src="/images/cloud-2.png">
 	</div>
 	<div class="clouds cloud-3">
 		<img src="/images/cloud-3.png">
 	</div>
 	 	<div class="clouds cloud-4">
 		<img src="/images/cloud-3.png">
 	</div>
 	<div class="clouds cloud-5">
 		<img src="/images/cloud-2.png">
 	</div>
 	<div class="clouds cloud-6">
 		<img src="/images/cloud-1.png">
 	</div>
 </div>
